.about-content-block {
	position: relative;
	padding-top: 120px;
	padding-bottom: 120px;
	&__logo-block {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	&__gallery-block {
		display: flex;
		flex-direction: row;
		flex-shrink: 0;
	}
	&__gallery-wrapper {
		position: relative;
		display: block;
		&:last-child {
			margin-top: 50px;
		}
	}
	&__photo-block {
		display: block;
		width: 100%;
		max-width: 253px;
		height: 350px;
		margin-bottom: 30px;
		&:not(:nth-child(2n)) {
			margin-right: 30px;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__inner-block {
		display: block;
		padding-top: 66px;
	}
	&__inner-title {
		display: block;
		font-size: 66px;
		font-weight: 500;
		line-height: 1.1;
		color: #354052;
		width: 100%;
		max-width: 550px;
		margin-bottom: 50px;
		span {
			color: #556EE6;
		}
	}
	&__inner-text {
		display: block;
		font-size: 16px;
		color: #354052;
		font-weight: 400;
		line-height: 1.68;
	}
}

@include for-size(mobile) {
	.about-content-block {
		padding-top: 60px;
		padding-bottom: 60px;
		&__logo-block {
			display: none;
		}
		&__wrapper {
			display: block;
		}
		&__gallery-block {
			justify-content: center;
			margin-bottom: 20px;
		}
		&__photo-block {
			max-width: 200px;
			height: 300px;
		}
		&__inner-block {
			padding-top: 0;
		}
		&__inner-title {
			font-size: 24px;
			margin-bottom: 25px;
		}
		&__inner-text {
			font-size: 14px;
		}
		&__photo-block {
			max-width: 120px;
			height: auto;
			margin-bottom: 20px;
			&:not(:nth-child(2n)){
				margin-right: 20px;
			}
		}
	}
}

@include for-size(tablet) {
	.about-content-block {
		&__logo-block {
			display: none;
		}
		&__wrapper {
			display: block;
		}
		&__gallery-block {
			justify-content: center;
			margin-bottom: 20px;
		}
		&__photo-block {
			max-width: 200px;
			height: 300px;
		}
		&__inner-block {
			padding-top: 0;
		}
		&__inner-title {
			font-size: 55px;
		}
	}
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
	.about-content-block {
		&__logo-block {
			left: -100px;
		}
	}
}