.achievements-block {
	position: relative;
	display: block;
	background-color: #35435B;
	padding-top: 80px;
	padding-bottom: 120px;
	&__wrapper {
		position: relative;
		display: block;
	}
	&__heading {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
	}
	&__title {
		position: relative;
		display: block;
		font-size: 29px;
		font-weight: 700;
		line-height: 1.2;
		color: #fff;
	}
	&__slider {
		position: relative;
		display: block;
		max-width: 1236px;
		margin: 0 auto;
	}
	&__slide {
		position: relative;
		display: block;
		width: 360px;
		margin-right: 52px;
	}
	&__card-block {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: calc(100vh - 450px);
	}
	&__card-wrapper {
		position: relative;
		display: block;
	}
	&__card-logo {
		position: relative;
		display: block;
		width: 100%;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__card-title {
		display: block;
		font-size: 16px;
		font-weight: 700;
		color: #fff;
		margin-bottom: 44px;
	}
	&__card-comment {
		display: block;
		font-size: 11px;
		font-weight: 400;
		line-height: 1.2;
		color: #fff;
		margin-bottom: 40px;
	}
	&__card-bottom {
		display: flex;
		flex-direction: column;
		margin-top: auto;
	}
	&__card-link {
		display: flex;
		flex-direction: row;
		align-items: center;
		img {
			display: block;
			width: 24px;
			height: 24px;
			margin-right: 6px;
		}
		span {
			display: block;
			font-size: 10px;
			font-weight: 400;
			color: #fff;
			line-height: 1.2;
		}
	}
	.tab-content {
		position: relative;
		display: block;
		margin-bottom: 74px;
	}
	&__controls-block {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&__controls-link-wrapper {
		position: relative;
		display: block;
		width: 100%;
		max-width: 120px;
		&:not(:last-child)::before {
			content: '';
			position: absolute;
			left: 60px;
			bottom: -62px;
			width: 180px;
			height: 1px;
			background-color: #fff;
		}
		&::after {
			content: '';
			position: absolute;
			opacity: 0;
			pointer-events: none;
			top: auto;
			left: 50%;
			margin-left: -12px;
			bottom: -75px;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			border: 1px solid #CC6C56;
			background-color: #35435B;
		}
		&:not(:last-child) {
			margin-right: 60px;
		}
	}
	&__controls-link-wrapper.active::after {
		opacity: 1;
		pointer-events: all;
	}
	&__controls-link {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		height: 42px;
		font-size: 12px;
		font-weight: 700;
		line-height: 1.2;
		color: #fff;
		text-decoration: none;
		transition: all 0.3s ease-in-out;
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -2.5px;
			bottom: -64px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #fff;
			z-index: 2;
		}
		&:hover {
			color: #D78168;
			text-decoration: none;
		}
	}
	&__controls-link-wrapper.active &__controls-link {
		color: #D78168;
		font-size: 18px;
	}
	&__controls-link-wrapper.active &__controls-link::after {
		background-color: #CC6C56;
	}
	&__controls-link-wrapper.active::before {
		background-color: #CC6C56;
	}
	button.prev, button.next {
		outline: 0;
	}
	&__arrow {
		background: 0;
		border: 0;
		position: absolute;
		top: 50%;
		margin-top: -8px;
		left: 0;
		width: 16px;
		height: 16px;
		transform: rotate(180deg);
		background-image: url('../img/arrow-prev-achievements.svg');
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1;
		cursor: pointer;
	}
	button.prev.achievements-block__arrow {
		left: -46px;
	}
	button.next.achievements-block__arrow {
		transform: rotate(0deg);
		left: auto;
		right: 0;
		background-image: url('../img/arrow-next-achievements.svg');
	}
}

@include for-size(tablet) {
	.achievements-block {
		&__card-block {
			height: calc(100vh - 440px);
		}
		&__controls-link-wrapper:not(:last-child) {
			margin-right: 20px;
		}
		&__slider {
			max-width: 100%;
		}
		&__slide {
			width: 648px;
		}
		&__card-comment {
			max-width: 400px;
		}
	}
}