.article-block {
	position: relative;
	background-color: #F8F8FB;
	&__logo-wrapper {
		position: relative;
		display: block;
		width: 100%;
	}
	&__logo-block {
		position: absolute;
		top: 0;
		right: 0;
	}
	&__wrapper {
		position: relative;
		top: -130px;
		display: block;
		max-width: 750px;
		margin: 0 auto;
	}
	&__photo-wrapper {
		position: relative;
		display: block;
		max-width: 750px;
		margin: 0 auto;
		margin-bottom: 100px;
	}
	&__photo-block {
		position: relative;
		display: block;
		max-width: 750px;
		margin: 0 auto;
		margin-bottom: 20px;
		height: 460px;
		border-radius: 8px;
		background-color: #C4C4C4;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__social-block {
		display: block;
	}
	&__social-block ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&__social-block ul li:not(:last-child) {
		margin-right: 10px;
	}
	&__social-link {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: 22px;
		height: 22px;
		border-radius: 2px;
		transition: all 0.5s ease-in-out;
		&.link--twitter {
			background-color: #00ACED;
		}
		&.link--facebook {
			background-color: #3A5B98;
		}
		&.link--in {
			background-color: #0A66C2;
		}
	}
	&__section-block {
		position: relative;
		display: block;
		&:not(:last-child) {
			margin-bottom: 100px;
		}
	}
	&__section-second-title {
		position: relative;
		display: block;
		font-size: 66px;
		font-weight: 500;
		margin-bottom: 50px;
		span {
			color: #556EE6;
		}
	}
	&__section-third-title {
		position: relative;
		display: block;
		font-size: 45px;
		font-weight: 500;
		margin-bottom: 50px;
		span {
			color: #556EE6;
		}
	}
	&__section-fourth-title {
		position: relative;
		display: block;
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 50px;
		span {
			color: #556EE6;
		}
	}
	&__section-fifth-title {
		position: relative;
		display: block;
		font-size: 25px;
		font-weight: 500;
		margin-bottom: 50px;
		span {
			color: #556EE6;
		}
	}
	&__section-sixth-title {
		position: relative;
		display: block;
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 50px;
		span {
			color: #556EE6;
		}
	}
	&__section-text {
		display: block;
		font-size: 16px;
		font-weight: 400;
		color: #354052;
		line-height: 1.6;
		p span {
			font-weight: 600;
		}
		p a {
			color: #34A853;
			text-decoration: underline;
		}
	}
	&__section-list {
		position: relative;
		display: block;
		margin-bottom: 50px;
	}
	&__section-list ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		padding-left: 10px;
	}
	&__section-list ul li:not(:last-child) {
		margin-bottom: 8px;
	}
	&__section-list ul li {
		position: relative;
		display: block;
		&::before {
			content: '';
			position: absolute;
			top: 6px;
			left: -18px;
			width: 8px;
			height: 8px;
			border-radius: 2px;
			background-color: #A6B0CF;
		}
	}
	&__section-list ul li p {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.68;
		color: #354052;
		margin: 0;
	}
	&__section-photo-block {
		display: block;
		width: 100%;
		max-width: 750px;
		border-radius: 8px;
		overflow: hidden;
		margin-bottom: 25px;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__section-caption-block {
		display: block;
		margin-bottom: 50px;
	}
	&__section-caption-title {
		position: relative;
		display: block;
		font-size: 20px;
		font-weight: 600;
		color: #354052;
		line-height: 1.2;
		margin-bottom: 22px;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -8px;
			width: 14px;
			height: 2px;
			background-color: #556EE6;
		}
	}
	&__section-caption {
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.2;
		color: #666666;
	}
	&__section-number-list {
		position: relative;
		display: block;
		margin-bottom: 50px;
	}
	&__section-number-list ol {
		margin: 0;
		padding: 0;
		padding-left: 10px;
		counter-reset: myCounter;
	}
	&__section-number-list ol li:not(:last-child) {
		margin-bottom: 8px;
	}
	&__section-number-list ol li {
		position: relative;
		display: flex;
		&::before {
			position: absolute;
			counter-increment: myCounter;
			content: counter(myCounter) ".";
			top: 4px;
			left: 0;
			font-size: 16px;
			font-weight: 400;
			color: #A6B0CF;
		}
	}
	&__section-number-list ol li p {
		font-size: 16px;
		font-weight: 400;
		color: #354052;
		line-height: 1.68;
		margin: 0;
		padding-left: 17px;
	}
	&__quote-block {
		position: relative;
		display: block;
		padding-left: 35px;
		margin-bottom: 100px;
	}
	&__quote-text {
		position: relative;
		display: block;
		font-size: 20px;
		font-weight: 400;
		color: #354052;
		line-height: 1.7;
		padding-left: 24px;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			margin-top: -58px;
			left: -4px;
			width: 4px;
			height: 116px;
			background-color: #556EE6;
		}
		p {
			margin: 0;
		}
		p span {
			font-weight: 600;
		}
	}
	&__video-block {
		position: relative;
		display: block;
		width: 100%;
		max-width: 750px;
		margin-bottom: 82px;
	}
	&__video-photo {
		display: block;
		width: 100%;
		border-radius: 8px;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__play-button {
		position: absolute;
		top: 50%;
		margin-top: -21px;
		left: 50%;
		margin-left: -29px;
	}
	&__play-button svg {
		display: block;
		fill: #EA4335;
		transition: all 0.5s ease-in-out;
		&:hover {
			fill: #34A853;
		}
	}
	&__list {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 100px;
	}
	&__card-block {
		position: relative;
		display: block;
		width: 100%;
		max-width: 360px;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
		&:not(:nth-child(2n)) {
			margin-right: 30px;
		}
	}
	&__card-icon {
		display: block;
		margin-bottom: 15px;
	}
	&__card-title {
		position: relative;
		display: block;
		font-size: 20px;
		font-weight: 600;
		color: #354052;
		line-height: 1.2;
		margin-bottom: 22px;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -8px;
			width: 14px;
			height: 2px;
			background-color: #556EE6;
		}
	}
	&__text {
		display: block;
		font-size: 16px;
		font-weight: 400;
		color: #354052;
		line-height: 1.7;
		margin-bottom: 50px;
		span {
			font-weight: 600;
		}
	}
	&__info-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
	&__info-list &__card-block {
		position: relative;
		display: block;
		width: 100%;
		max-width: 350px;
		transition: all 0.5s ease-in-out;
		margin-bottom: 0;
		&:not(:nth-child(2n)) {
			margin-right: 45px;
		}
	}
	&__info-list &__photo-block {
		position: relative;
		display: block;
		height: auto;
		margin: auto;
		width: 100%;
		max-width: 100%;
		padding-top: 24px;
		border-radius: 8px 8px 10px 10px;
		overflow: hidden;
		background-color: #E7ECF0;
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
		margin-bottom: 28px;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__card-text {
		display: block;
		font-size: 14px;
		font-weight: 400;
		color: #666666;
		line-height: 1.4;
		transition: all 0.5s ease-in-out;
		p {
			margin: 0;
		}
	}
	&__card-block.active &__photo-block {
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
	}
	&__card-block.active &__card-title {
		color: #34A853;
	}
	&__card-block.active &__card-title::after {
		background-color: #34A853;
	}
	&__info-list &__photo-navigation-block {
		position: absolute;
		top: 7px;
		left: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		transition: all 0.5s ease-in-out;
		.control {
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}
		.control:not(:last-child) {
			margin-right: 6px;
		}
		.control--green {
			background-color: #34A853;
		}
		.control--red {
			background-color: #EA4335;
		}
		.control--purple {
			background-color: #556EE6;
		}
	}
}

@include for-size(mobile) {
	.article-block {
		&__section-text {
			font-size: 14px;
		}
		&__photo-block {
			max-width: 100%;
			height: auto;
		}
		&__photo-wrapper {
			margin-bottom: 60px;
		}
		&__section-block:not(:last-child) {
			margin-bottom: 50px;
		}
		&__section-second-title {
			font-size: 42px;
		}
		&__section-third-title {
			font-size: 36px;
		}
		&__section-fourth-title {
			font-size: 29px;
		}
		&__section-second-title, &__section-third-title, &__section-fourth-title, &__section-fifth-title, &__section-sixth-title {
			margin-bottom: 25px;
		}
		&__quote-block {
			padding-left: 10px;
			margin-bottom: 50px;
		}
		&__quote-text {
			font-size: 14px;
			padding-left: 15px;
		}
		&__video-block {
			margin-bottom: 40px;
		}
		&__list {
			justify-content: center;
			margin: 0;
		}
		&__card-block:not(:last-child) {
			margin-bottom: 50px;
		}
		&__card-block:not(:nth-child(2n)) {
			margin-right: 0;
		}
		&__card-icon svg {
			display: block;
			margin: 0 auto;
		}
		&__card-title {
			text-align: center;
			&::after {
				left: 50%;
				margin-left: -7px;
			}
		}
		&__card-text {
			text-align: center;
		}
		&__info-list {
			justify-content: center;
		}
		&__info-list &__card-block:not(:nth-child(2n)) {
			margin-right: 0;
		}
		&__logo-block {
			display: none;
		}
		&__wrapper {
			top: -60px;
		}
	}
}

@include for-size(tablet) {
	.article-block {
		&__photo-wrapper {
			max-width: 600px;
		}
		&__photo-block {
			height: auto;
			max-width: 600px;
		}
		&__card-block {
			max-width: 300px;
		}
		&__card-block:not(:nth-child(2n)) {
			margin-right: 45px;
		}
		&__video-block {
			max-width: 500px;
			margin: 0 auto;
		}
		&__info-list &__card-block {
			max-width: 300px;
		}
	}
}