.info-block {
	position: relative;
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #F8F8FB;
	overflow: hidden;
	&__logo-block {
		position: absolute;
		top: 0;
		right: -60px;
	}
	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&__card-block {
		position: relative;
		display: block;
		width: 100%;
		max-width: 350px;
		transition: all 0.5s ease-in-out;
		margin-bottom: 80px;
		&:not(:nth-child(3n)) {
			margin-right: 45px;
		}
	}
	&__photo-block {
		position: relative;
		display: block;
		padding-top: 24px;
		border-radius: 8px 8px 10px 10px;
		overflow: hidden;
		background-color: #E7ECF0;
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
		margin-bottom: 28px;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__card-block.active &__photo-block {
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
	}
	&__card-block.active &__card-title {
		color: #34A853;
	}
	&__card-block.active &__card-title::after {
		background-color: #34A853;
	}
	&__photo-navigation-block {
		position: absolute;
		top: 7px;
		left: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		transition: all 0.5s ease-in-out;
		.control {
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}
		.control:not(:last-child) {
			margin-right: 6px;
		}
		.control--green {
			background-color: #34A853;
		}
		.control--red {
			background-color: #EA4335;
		}
		.control--purple {
			background-color: #556EE6;
		}
	}
	&__card-title {
		position: relative;
		display: block;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 22px;
		transition: all 0.5s ease-in-out;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -8px;
			width: 14px;
			height: 2px;
			background-color: #556EE6;
			transition: all 0.5s ease-in-out;
		}
	}
	&__card-text {
		display: block;
		font-size: 14px;
		font-weight: 400;
		color: #666666;
		line-height: 1.4;
		transition: all 0.5s ease-in-out;
		p {
			margin: 0;
		}
	}
	&__button-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		.btn--sign {
			width: 100%;
			max-width: 220px;
			height: 56px;
			background: 0;
			border: 1px solid #34A853;
			color: #34A853;
			font-size: 16px;
			font-weight: 500;
			transition: all 0.5s ease-in-out;
			&:hover {
				background-color: #46C668;
				border-color: #46C668;
				color: #fff;
			}
		}
		.btn:not(:last-child) {
			margin-right: 20px;
		}
	}
}

@include for-size(mobile) {
	.info-block {
		padding-top: 60px;
		padding-bottom: 60px;
		&__list {
			justify-content: center;
		}
		&__logo-block {
			display: none;
		}
		&__card-block {
			max-width: 100%;
			margin-bottom: 60px;
		}
		&__card-block:not(:nth-child(3n)) {
			margin-right: 0;
		}
		&__card-block:not(:nth-child(2n)) {
			margin-right: 0;
		}
		&__button-wrapper {
			display: block;
			.btn--sign {
				max-width: 100%;
			}
			.btn:not(:last-child) {
				margin-right: 0;
				margin-bottom: 20px;
			}
			.btn--plans {
				max-width: 100%;
			}
		}
	}
}

@include for-size(tablet) {
	.info-block {
		&__list {
			justify-content: center;
		}
		&__logo-block {
			display: none;
		}
		&__card-block {
			max-width: 300px;
		}
		&__card-block:not(:nth-child(3n)) {
			margin-right: 0;
		}
		&__card-block:not(:nth-child(2n)) {
			margin-right: 45px;
		}
	}
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
	.info-block {
		&__logo-block {
			right: -100px;
		}
	}
}