.main-about-block {
	position: relative;
	background-color: #E5EBF4;
	padding-top: 100px;
	padding-bottom: 110px;
	&__wrapper {
		position: relative;
		display: block;
	}
	&__title {
		display: block;
		text-align: center;
		font-size: 52px;
		font-weight: 500;
		line-height: 1.2;
		color: #303030;
		margin-bottom: 60px;
	}
	&__inner-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 80px;
	}
	&__photo-block {
		position: relative;
		display: block;
		width: 595px;
		height: 420px;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__advantages-block {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-shrink: 0;
		width: 100%;
		max-width: 475px;
	}
	&__advantages-card-block {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-shrink: 0;
		width: 100%;
		max-width: 220px;
		margin-bottom: 45px;
		&:not(:nth-child(2n)) {
			margin-right: 34px;
		}
	}
	&__advantages-card-icon {
		display: block;
		margin-right: 14px;
	}
	&__advantages-card-title {
		display: block;
		font-size: 18px;
		line-height: 1;
		font-weight: 400;
		color: #444444;
	}
	&__choice-block {
		display: block;
	}
	&__choice-title {
		display: block;
		text-align: center;
		font-size: 32px;
		font-weight: 500;
		color: #303030;
		line-height: 1.5;
		margin-bottom: 50px;
	}
	&__schedule-block {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
	}
	&__schedule-card {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		&:not(:last-child) {
			margin-right: 54px;
		}
	}
	&__schedule-card-icon {
		display: block;
		width: 70px;
		height: 70px;
		flex-shrink: 0;
		margin-right: 18px;
	}
	&__schedule-card-title {
		display: block;
		font-size: 18px;
		font-weight: 500;
		color: #303030;
		line-height: 1.2;
	}
	&__list {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 100%;
	}
	&__card-block {
		position: relative;
		display: block;
		width: 100%;
		max-width: 255px;
		padding-top: 44px;
		padding-bottom: 69px;
		background-image: url('../img/bg-about-card.svg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		&:not(:nth-child(4n)) {
			margin-right: 40px;
		}
	}
	&__card-icon {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 116px;
		height: 116px;
		margin: 0 auto;
		border-radius: 50%;
		border: 2px solid rgba(217, 230, 252, 0.16);
		background-color: rgba(217, 230, 252, 0.14);
		margin-bottom: 47px;
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -10px;
			bottom: -27px;
			width: 100%;
			max-width: 20px;
			height: 2px;
			background-color: #3A78FF;
		}
		svg {
			display: block;
			width: 50px;
			height: 50px;
			margin: 0 auto;
		}
	}
	&__card-title {
		display: block;
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		color: #303030;
		line-height: 1.5;
	}
	&__card-description {
		display: block;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		color: #303030;
		line-height: 1.5;
		p {
			margin: 0;
		}
	}
}

@include for-size(mobile) {
	.main-about-block {

	}
}

@include for-size(tablet) {
	.main-about-block {

	}
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
	.main-about-block {

	}
}