.main-share-block {
	background-color: #E5EBF4;
	padding-top: 100px;
	padding-bottom: 110px;
	&__wrapper {
		position: relative;
		display: block;
	}
	&__title {
		display: block;
		text-align: center;
		font-size: 52px;
		font-weight: 500;
		color: #303030;
		margin-bottom: 60px;
	}
	&__inner-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__illustration-block {
		display: block;
		width: 100%;
		max-width: 645px;
		flex-shrink: 0;
	}
	&__content-block {
		display: block;
		width: 100%;
		max-width: 325px;
	}
	&__content-title {
		position: relative;
		display: block;
		text-align: center;
		font-size: 32px;
		font-weight: 500;
		color: #303030;
		margin-bottom: 50px;
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -13px;
			bottom: -27px;
			width: 100%;
			max-width: 26px;
			height: 2px;
			background-color: #3A78FF;
		}
	}
	&__content-text {
		display: block;
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		color: #303030;
	}
}