.main-block {
	position: relative;
	display: block;
	background-color: #fff;
	padding-top: 64px;
	overflow: hidden;

}

@include for-size(mobile) {
	
}

@include for-size(tablet) {

}

@media screen and (min-width: 1024px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) and (max-width: 1439px) {

}

@media screen and (min-width: 1440px) and (max-width: 1919px) {

}

