.main-section-wrapper {
	background-color: #fff;
	padding-top: 100px;
	padding-bottom: 110px;
}

.main-plans-block {
	&__wrapper {
		position: relative;
		display: block;
	}
	&__title {
		display: block;
		text-align: center;
		font-size: 52px;
		line-height: 1.2;
		font-weight: 500;
		color: #303030;
		margin-bottom: 60px;
	}
	&__card-wrap--outer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 110px;
	}
	&__card-wrap--inner {
		display: flex;
		flex-direction: row;
		width: 100%;
		max-width: 258px;
		&:not(:nth-child(3n)) {
			margin-right: 36px;
		}
	}
	&__card-block {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-top: 28px;
		padding-bottom: 31px;
		border: 1px solid #E5EBF4;
		border-radius: 14px;
	}
	&__card--popular {
		position: absolute;
		top: -1px;
		right: -1px;
		width: 100%;
		display: block;
		text-align: center;
		max-width: 102px;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.3;
		color: #fff;
		padding-top: 4px;
		padding-bottom: 4px;
		border-radius: 0 14px 0 14px;
		background-color: #3ED083;
	}
	&__card-date {
		display: block;
		text-align: center;
		font-size: 26px;
		font-weight: 500;
		color: #3A78FF;
		line-height: 1.5;
		margin-bottom: 25px;
		&.uppercase {
			text-transform: uppercase;
		}
	}
	&__card-price {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		text-align: center;
		font-size: 26px;
		font-weight: 400;
		color: #303030;
		line-height: 1.3;
		padding-top: 10px;
		padding-bottom: 11px;
		background-color: rgba(229, 235, 244, 0.4);
		margin-bottom: 38px;
		span {
			position: relative;
			top: -4px;
			display: block;
			margin-left: 6px;
			font-size: 13px;
			font-weight: 400;
			color: #3F5473;
			line-height: 1.3;
		}
	}
	&__card-list {
		display: block;
		margin-bottom: 46px;
		&.flexible {
			flex-grow: 1;
		}
	}
	&__card-list ul {
		list-style-type: none;
		display: block;
		margin: 0;
		padding: 0;
		padding-left: 25px;
	}
	&__card-list ul li:not(:last-child) {
		margin-bottom: 10px;
	}
	&__card-list ul li {
		display: flex;
		flex-direction: row;
		align-items: center;
		line-height: 1.5;
		color: #3F5473;
		font-size: 18px;
		font-weight: 400;
	}
	&__card-list ul li svg {
		display: block;
		flex-shrink: 0;
		margin-right: 10px;
	}
	&__card-bottom {
		display: flex;
		flex-direction: column;
		margin-top: auto;
		.btn--start {
			margin: 0 auto;
		}
	}
}