.offer-block {
	position: relative;
	padding-top: 120px;
	background-color: #F8F8FB;
	overflow: hidden;
	&__logo-block {
		position: absolute;
		top: 0;
		right: -60px;
	}
	&__content-block {
		position: relative;
		display: block;
		margin-bottom: 80px;
	}
	&__title {
		display: block;
		font-size: 66px;
		font-weight: 500;
		line-height: 1.2;
		color: #354052;
		margin-bottom: 50px;
		span {
			color: #556EE6;
		}
	}
	&__description {
		display: block;
		width: 100%;
		max-width: 900px;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		color: #354052;
		p {
			margin: 0;
		}
	}
	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&__card-block {
		display: block;
		width: 100%;
		max-width: 545px;
		margin-bottom: 80px;
		&:not(:nth-child(2n)) {
			margin-right: 40px;
		}
	}
	&__card-icon {
		display: block;
		margin-bottom: 15px;
	}
	&__card-title {
		display: block;
		font-size: 20px;
		font-weight: 600;
		color: #354052;
		margin-bottom: 22px;
	}
	&__card-text {
		display: block;
		font-size: 14px;
		font-weight: 400;
		color: #666666;
		p {
			margin: 0;
		}
	}
	&__button-wrapper {
		display: block;
		width: 100%;
		margin-bottom: 80px;
		.btn {
			margin: 0 auto;
		}
	}
	&__illustration-block {
		display: block;
		margin-left: -300px;
		svg {
			position: relative;
			display: block;
			bottom: -4px;
		}
	}
}

@include for-size(mobile) {
	.offer-block {
		padding-top: 60px;
		&__logo-block {
			display: none;
		}
		&__title {
			text-align: center;
			font-size: 36px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		&__description {
			font-size: 14px;
		}
		&__content-block {
			margin-bottom: 60px;
		}
		&__card-block {
			margin-bottom: 40px;
		}
		&__card-block:not(:nth-child(2n)) {
			margin-right: 0;
		}
		&__card-icon svg {
			display: block;
			margin: 0 auto;
		}
		&__card-title {
			text-align: center;
		}
		&__card-text {
			text-align: center;
		}
		&__button-wrapper {
			margin-bottom: 40px;
		}
	}
}

@include for-size(tablet) {
	.offer-block {
		&__description {
			max-width: 600px;
		}
		&__card-block {
			max-width: 300px;
		}
	}
}