<header class="page-header">
	<div class="container">
		<div class="page-header__wrapper">

			<div class="page-header__inner">
				<a href="main-block.html" class="page-header__logo">
					<svg width="220" height="38">
						<use xlink:href="#logo"></use>
					</svg>
				</a>
				<a href="javascript:;" class="page-header__toggle" id="menu-toggle"><span></span></a>
			</div>

			<nav class="page-header__nav">
				<ul>
					<li><a href="#">Future Messages</a></li>
					<li><a href="#">Life Story</a></li>
					<li><a href="#">Membership</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>

			<div class="page-header__exit-block">
				<a href="javascript:;" class="btn btn--sign">
					<svg width="20" height="18">
						<use xlink:href="#sign_in"></use>
					</svg>
					<span>Sign in</span>
				</a>
				<a href="javascript:;" class="btn btn--registration">Sign up</a>
			</div>
		</div>
	</div>

	<div class="page-header__menu" id="header-menu">
		<a href="javascript:;" class="page-header__toggle" id="menu-toggle-active"><span></span></a>
		<div class="page-header__menu-nav">
			<ul>
				<li>
					<a href="#" data-jq-dropdown="#jq-dropdown-3">
						<span>Start</span>
						<svg width="10" height="6">
							<use xlink:href="#nav_arrow"></use>
						</svg>
						<div class="page-header__nav-link--hover"></div>
					</a>
					<div id="jq-dropdown-3" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right">
						<div class="jq-dropdown-menu">
							<div class="jq-dropdown-wrapper">
								<a href="javascript:;">Overview</a>
								<a href="javascript:;">Tour</a>
								<a href="javascript:;">CRM</a>
								<a href="javascript:;">Sales Velocity</a>
								<a href="javascript:;">Mobile Apps</a>
							</div>
							<div class="jq-dropdown-wrapper">
								<a href="javascript:;">Overview</a>
								<a href="javascript:;">Tour</a>
								<a href="javascript:;">CRM</a>
								<a href="javascript:;">Sales Velocity</a>
								<a href="javascript:;">Mobile Apps</a>
							</div>
							<div class="jq-dropdown-wrapper">
								<a href="javascript:;">Overview</a>
								<a href="javascript:;">Tour</a>
								<a href="javascript:;">CRM</a>
								<a href="javascript:;">Sales Velocity</a>
								<a href="javascript:;">Mobile Apps</a>
							</div>
							<div class="jq-dropdown-wrapper">
								<a href="javascript:;">Overview</a>
								<a href="javascript:;">Tour</a>
								<a href="javascript:;">CRM</a>
								<a href="javascript:;">Sales Velocity</a>
								<a href="javascript:;">Mobile Apps</a>
							</div>
							<div class="jq-dropdown-wrapper">
								<a href="javascript:;">Overview</a>
								<a href="javascript:;">Tour</a>
								<a href="javascript:;">CRM</a>
								<a href="javascript:;">Sales Velocity</a>
								<a href="javascript:;">Mobile Apps</a>
							</div>
						</div>
					</div>
				</li>
				<li><a href="#">For brokers</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
		</div>
	</div>
</header>