<div class="popup-block" id="popup_video">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-video">
			<div class="popup-block__video-block">
				<div class="popup-block__video">
					<iframe src="https://www.youtube.com/embed/McSTvIqDuso" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_video_1">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-video">
			<div class="popup-block__video-block">
				<div class="popup-block__video">
					<iframe src="https://www.youtube.com/embed/McSTvIqDuso" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_video_2">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-video">
			<div class="popup-block__video-block">
				<div class="popup-block__video">
					<iframe src="https://www.youtube.com/embed/McSTvIqDuso" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_video_3">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-video">
			<div class="popup-block__video-block">
				<div class="popup-block__video">
					<iframe src="https://www.youtube.com/embed/McSTvIqDuso" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_video_4">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-video">
			<div class="popup-block__video-block">
				<div class="popup-block__video">
					<iframe src="https://www.youtube.com/embed/McSTvIqDuso" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_video_5">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-video">
			<div class="popup-block__video-block">
				<div class="popup-block__video">
					<iframe src="https://www.youtube.com/embed/McSTvIqDuso" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_video_6">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-video">
			<div class="popup-block__video-block">
				<div class="popup-block__video">
					<iframe src="https://www.youtube.com/embed/McSTvIqDuso" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_video_7">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-video">
			<div class="popup-block__video-block">
				<div class="popup-block__video">
					<iframe src="https://www.youtube.com/embed/McSTvIqDuso" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_video_8">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-video">
			<div class="popup-block__video-block">
				<div class="popup-block__video">
					<iframe src="https://www.youtube.com/embed/McSTvIqDuso" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_thanks">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-thanks">
			<a href="javascript:;" data-toggle="modal-dismiss" class="popup-block__close">
				<svg width="12" height="12">
					<use xlink:href="#close"></use>
				</svg>
			</a>
			<div class="popup-block__thanks-block">
				<div class="popup-block__thanks-title">Thank You!</div>
				<div class="popup-block__thanks-description">
					<p>We will answer as soon as possible</p>
				</div>
				<div class="popup-block__thanks-icon">
					<svg viewBox="0 0 140 134" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M130.116 60.9922V67.0372C130.108 81.0542 125.635 94.6929 117.364 105.919C109.093 117.146 97.4677 125.358 84.2206 129.332C70.9742 133.307 56.8161 132.83 43.8585 127.972C30.9009 123.114 19.8379 114.137 12.3195 102.378C4.80104 90.6197 1.22997 76.7093 2.13886 62.7232C3.04774 48.7369 8.38792 35.4233 17.3629 24.7682C26.3378 14.113 38.4668 6.68718 51.9408 3.59816C65.4148 0.50912 79.5121 1.92239 92.1293 7.62718" stroke="#3A78FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M138.001 7L66.7625 79.9998L47.334 60.0909" stroke="#40D184" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</div>
				<a href="javascript:;" class="btn btn--done">Ok</a>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_success">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-success">
			<a href="javascript:;" data-toggle="modal-dismiss" class="popup-block__close">
				<svg width="12" height="12">
					<use xlink:href="#close"></use>
				</svg>
			</a>
			<div class="popup-block__thanks-block">
				<div class="popup-block__thanks-title">Success!</div>
				<div class="popup-block__thanks-description">
					<p>Data updated</p>
				</div>
				<div class="popup-block__thanks-icon">
					<svg viewBox="0 0 140 134" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M130.116 60.9922V67.0372C130.108 81.0542 125.635 94.6929 117.364 105.919C109.093 117.146 97.4677 125.358 84.2206 129.332C70.9742 133.307 56.8161 132.83 43.8585 127.972C30.9009 123.114 19.8379 114.137 12.3195 102.378C4.80104 90.6197 1.22997 76.7093 2.13886 62.7232C3.04774 48.7369 8.38792 35.4233 17.3629 24.7682C26.3378 14.113 38.4668 6.68718 51.9408 3.59816C65.4148 0.50912 79.5121 1.92239 92.1293 7.62718" stroke="#3A78FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M138.001 7L66.7625 79.9998L47.334 60.0909" stroke="#40D184" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</div>
				<a href="javascript:;" class="btn btn--done">Ok</a>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_delete">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__delete-block">
			<a href="javascript:;" data-toggle="modal-dismiss" class="popup-block__close">
				<svg width="12" height="12">
					<use xlink:href="#close"></use>
				</svg>
			</a>
			<div class="popup-block__delete-wrapper">
				<div class="popup-block__delete-title">Are you sure?</div>
				<div class="popup-block__delete-description">
					<p>After deletion, the data cannot be returned</p>
				</div>
				<div class="popup-block__delete-icon">
					<svg width="120" height="132">
						<use xlink:href="#trash"></use>
					</svg>
				</div>
				<div class="popup-block__delete-button-wrapper">
					<a href="javascript:;" class="btn btn--done">Yes, delete</a>
					<a href="javascript:;" class="btn btn--cancel">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>

