@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Roboto Regular'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local('Roboto Italic'), local('Roboto-Italic'),
        url('../fonts/Roboto-Italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Roboto-Italic.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Roboto-Medium.woff') format('woff'), /* Modern Browsers */
}